<div class="chessboard">
  <div class="index-vertical">
    <span *ngFor="let v_index of vertical_index">
      {{ v_index }}
    </span>
  </div>
  <div class="board">
    <ng-container *ngFor="let row of chessboard; let i = index">
      <ng-container *ngFor="let cell of row; let j = index">
        <div
          #chessboardCell
          (dragover)="allowDrop($event)"
          (drop)="onDrop($event)"
          class="cell"
          [ngStyle]="{ 'background-color': (i + j) % 2 ? 'rgb(47,79,79)' : 'rgb(255,235,205)' }"
        ></div>
      </ng-container>
    </ng-container>
  </div>
  <div class="index-horizontal">
    <span *ngFor="let h_index of horizontal_index">
      {{ h_index }}
    </span>
  </div>
</div>

<div class="piecesPallet">
  <div class="cell" *ngFor="let piece of sidePiecesPallet; let i = index">
    <img
      #palletCell
      (dragstart)="onDrag($event)"
      class="piece"
      draggable="true"
      src="assets/{{ piece.color }}-{{ piece.type }}.svg"
      id="{{ piece.color }}-{{ piece.type }}"
    />
  </div>
</div>
<button class="nav-button clear-chessboard" (click)="resetAll()">Clear board</button>
<save-component></save-component>
