.chessboard{
    margin: auto;
    margin-left: 20%;
    margin-top: 20px;
    border-collapse: collapse;  
    border: 3px solid rgb(27, 27, 27);
}

.index{
    background-color: rgb(27, 27, 27);
    
    :-vertical{
        max-width: 20px;
        height: 100%;
    }

    :-horizontal{
        max-height: 20px;
        width: 100%;
    }
}

