<div class="chessboard">
    <div class="index-vertical">
        <span  *ngFor="let v_index of vertical_index">
            {{v_index}}
        </span>
    </div>
    <table>
        <tr *ngFor="let row of chessboard;let i=index">
            <td ngClass="tiles" *ngFor="let cell of row;let j=index">
               <img *ngIf="chessboard[i][j]!=null" src="assets/{{chessboard[i][j].color}}-{{chessboard[i][j].type}}.png">

            </td>
        </tr>
    </table>

    <div class="index-horizontal">
        <span  *ngFor="let h_index of horizontal_index">
            {{h_index}}
        </span>
    </div>
</div>
