/*Variables*/

$primary-color-white: rgb(255,235,205);
$primary-color-black: rgb(47,79,79);

/* You can add global styles to this file, and also import other style files */
body
{
    background-image: url("./assets/marble-black.jpg");
}
