/*Variables*/
$board-color-white: rgb(255, 235, 205);
$board-color-black: rgb(47, 79, 79);

$index-color-black: rgb(27, 27, 27);

$piece-margin: calc((80px - 64px) / 2);
$validCell-margin: calc((80px - 32px) / 2);

/* You can add global styles to this file, and also import other style files */
body {
  background: no-repeat;
  background-size: cover;
  background-image: url("./assets/marble-black.jpg");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-button {
  cursor: pointer;
  width: 12rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
}
